DB_ENGINE=django.db.backends.mysql
DB_NAME=glownext
DB_USER=root
DB_PASSWORD=your_database_password
DB_HOST=127.0.0.1
DB_PORT=3306

KHALTI_SECRET_KEY=your_khalti_secret_key
KHALTI_PUBLIC_KEY=your_khalti_public_key
KHALTI_BASE_URL=https://dev.khalti.com/api/v2/
WEBSITE_URL=http://localhost:8000
KHALTI_RETURN_URL=http://localhost:8000/api/payments/khalti/callback/
FRONTEND_URL=http://localhost:5173
