-- MySQL dump 10.13  Distrib 8.0.46, for Win64 (x86_64)
--
-- Host: localhost    Database: glownext
-- ------------------------------------------------------
-- Server version	8.0.46

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!50503 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Table structure for table `auth_group`
--

DROP TABLE IF EXISTS `auth_group`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `auth_group` (
  `id` int NOT NULL AUTO_INCREMENT,
  `name` varchar(150) NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `name` (`name`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `auth_group`
--

LOCK TABLES `auth_group` WRITE;
/*!40000 ALTER TABLE `auth_group` DISABLE KEYS */;
/*!40000 ALTER TABLE `auth_group` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `auth_group_permissions`
--

DROP TABLE IF EXISTS `auth_group_permissions`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `auth_group_permissions` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `group_id` int NOT NULL,
  `permission_id` int NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `auth_group_permissions_group_id_permission_id_0cd325b0_uniq` (`group_id`,`permission_id`),
  KEY `auth_group_permissio_permission_id_84c5c92e_fk_auth_perm` (`permission_id`),
  CONSTRAINT `auth_group_permissio_permission_id_84c5c92e_fk_auth_perm` FOREIGN KEY (`permission_id`) REFERENCES `auth_permission` (`id`),
  CONSTRAINT `auth_group_permissions_group_id_b120cbf9_fk_auth_group_id` FOREIGN KEY (`group_id`) REFERENCES `auth_group` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `auth_group_permissions`
--

LOCK TABLES `auth_group_permissions` WRITE;
/*!40000 ALTER TABLE `auth_group_permissions` DISABLE KEYS */;
/*!40000 ALTER TABLE `auth_group_permissions` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `auth_permission`
--

DROP TABLE IF EXISTS `auth_permission`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `auth_permission` (
  `id` int NOT NULL AUTO_INCREMENT,
  `name` varchar(255) NOT NULL,
  `content_type_id` int NOT NULL,
  `codename` varchar(100) NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `auth_permission_content_type_id_codename_01ab375a_uniq` (`content_type_id`,`codename`),
  CONSTRAINT `auth_permission_content_type_id_2f476e4b_fk_django_co` FOREIGN KEY (`content_type_id`) REFERENCES `django_content_type` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=93 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `auth_permission`
--

LOCK TABLES `auth_permission` WRITE;
/*!40000 ALTER TABLE `auth_permission` DISABLE KEYS */;
/*!40000 ALTER TABLE `auth_permission` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `customer_address`
--

DROP TABLE IF EXISTS `customer_address`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `customer_address` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `full_name` varchar(200) DEFAULT NULL,
  `mobile` varchar(14) DEFAULT NULL,
  `email` varchar(100) DEFAULT NULL,
  `country` varchar(100) DEFAULT NULL,
  `city` varchar(100) DEFAULT NULL,
  `address` varchar(100) DEFAULT NULL,
  `user_id` bigint DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `customer_address_user_id_a05f8db3_fk_userauth_user_id` (`user_id`),
  CONSTRAINT `customer_address_user_id_a05f8db3_fk_userauth_user_id` FOREIGN KEY (`user_id`) REFERENCES `userauth_user` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=6 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `customer_address`
--

LOCK TABLES `customer_address` WRITE;
/*!40000 ALTER TABLE `customer_address` DISABLE KEYS */;
INSERT INTO `customer_address` VALUES (1,'customer',NULL,NULL,NULL,NULL,NULL,2),(5,'Test','9828115573','test@gmail.com','Nepal','kathmandu','kathmandu',7);
/*!40000 ALTER TABLE `customer_address` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `customer_notifications`
--

DROP TABLE IF EXISTS `customer_notifications`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `customer_notifications` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `type` varchar(100) NOT NULL,
  `seen` tinyint(1) NOT NULL,
  `date` date NOT NULL,
  `user_id` bigint DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `customer_notifications_user_id_2fcb37af_fk_userauth_user_id` (`user_id`),
  CONSTRAINT `customer_notifications_user_id_2fcb37af_fk_userauth_user_id` FOREIGN KEY (`user_id`) REFERENCES `userauth_user` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `customer_notifications`
--

LOCK TABLES `customer_notifications` WRITE;
/*!40000 ALTER TABLE `customer_notifications` DISABLE KEYS */;
INSERT INTO `customer_notifications` VALUES (1,'Beautician Assigned',1,'2026-09-11',10);
/*!40000 ALTER TABLE `customer_notifications` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `customer_wishlist`
--

DROP TABLE IF EXISTS `customer_wishlist`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `customer_wishlist` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `service_id` bigint NOT NULL,
  `user_id` bigint DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `customer_wishlist_service_id_d5f411e8_fk_store_service_id` (`service_id`),
  KEY `customer_wishlist_user_id_f93ac5a1_fk_userauth_user_id` (`user_id`),
  CONSTRAINT `customer_wishlist_service_id_d5f411e8_fk_store_service_id` FOREIGN KEY (`service_id`) REFERENCES `store_service` (`id`),
  CONSTRAINT `customer_wishlist_user_id_f93ac5a1_fk_userauth_user_id` FOREIGN KEY (`user_id`) REFERENCES `userauth_user` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=3 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `customer_wishlist`
--

LOCK TABLES `customer_wishlist` WRITE;
/*!40000 ALTER TABLE `customer_wishlist` DISABLE KEYS */;
INSERT INTO `customer_wishlist` VALUES (1,2,13),(2,1,13);
/*!40000 ALTER TABLE `customer_wishlist` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `django_admin_log`
--

DROP TABLE IF EXISTS `django_admin_log`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `django_admin_log` (
  `id` int NOT NULL AUTO_INCREMENT,
  `action_time` datetime(6) NOT NULL,
  `object_id` longtext,
  `object_repr` varchar(200) NOT NULL,
  `action_flag` smallint unsigned NOT NULL,
  `change_message` longtext NOT NULL,
  `content_type_id` int DEFAULT NULL,
  `user_id` bigint NOT NULL,
  PRIMARY KEY (`id`),
  KEY `django_admin_log_content_type_id_c4bce8eb_fk_django_co` (`content_type_id`),
  KEY `django_admin_log_user_id_c564eba6_fk_userauth_user_id` (`user_id`),
  CONSTRAINT `django_admin_log_content_type_id_c4bce8eb_fk_django_co` FOREIGN KEY (`content_type_id`) REFERENCES `django_content_type` (`id`),
  CONSTRAINT `django_admin_log_user_id_c564eba6_fk_userauth_user_id` FOREIGN KEY (`user_id`) REFERENCES `userauth_user` (`id`),
  CONSTRAINT `django_admin_log_chk_1` CHECK ((`action_flag` >= 0))
) ENGINE=InnoDB AUTO_INCREMENT=54 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `django_admin_log`
--

LOCK TABLES `django_admin_log` WRITE;
/*!40000 ALTER TABLE `django_admin_log` DISABLE KEYS */;
/*!40000 ALTER TABLE `django_admin_log` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `django_content_type`
--

DROP TABLE IF EXISTS `django_content_type`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `django_content_type` (
  `id` int NOT NULL AUTO_INCREMENT,
  `app_label` varchar(100) NOT NULL,
  `model` varchar(100) NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `django_content_type_app_label_model_76bd3d3b_uniq` (`app_label`,`model`)
) ENGINE=InnoDB AUTO_INCREMENT=24 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `django_content_type`
--

LOCK TABLES `django_content_type` WRITE;
/*!40000 ALTER TABLE `django_content_type` DISABLE KEYS */;
/*!40000 ALTER TABLE `django_content_type` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `django_migrations`
--

DROP TABLE IF EXISTS `django_migrations`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `django_migrations` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `app` varchar(255) NOT NULL,
  `name` varchar(255) NOT NULL,
  `applied` datetime(6) NOT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=33 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `django_migrations`
--

LOCK TABLES `django_migrations` WRITE;
/*!40000 ALTER TABLE `django_migrations` DISABLE KEYS */;
/*!40000 ALTER TABLE `django_migrations` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `django_session`
--

DROP TABLE IF EXISTS `django_session`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `django_session` (
  `session_key` varchar(40) NOT NULL,
  `session_data` longtext NOT NULL,
  `expire_date` datetime(6) NOT NULL,
  PRIMARY KEY (`session_key`),
  KEY `django_session_expire_date_a5c62663` (`expire_date`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `django_session`
--

LOCK TABLES `django_session` WRITE;
/*!40000 ALTER TABLE `django_session` DISABLE KEYS */;
/*!40000 ALTER TABLE `django_session` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `store_booking`
--

DROP TABLE IF EXISTS `store_booking`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `store_booking` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `bid` varchar(20) NOT NULL,
  `service_type` varchar(10) NOT NULL,
  `address` longtext,
  `scheduled_date` date NOT NULL,
  `scheduled_time` time(6) NOT NULL,
  `note` longtext,
  `booking_status` varchar(20) NOT NULL,
  `decline_reason` longtext,
  `payment_method` varchar(20) NOT NULL,
  `payment_status` varchar(20) NOT NULL,
  `total` decimal(8,2) NOT NULL,
  `khalti_pidx` varchar(200) DEFAULT NULL,
  `khalti_txn_id` varchar(200) DEFAULT NULL,
  `date` datetime(6) NOT NULL,
  `updated` datetime(6) NOT NULL,
  `customer_id` bigint DEFAULT NULL,
  `service_id` bigint DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `bid` (`bid`),
  KEY `store_booking_customer_id_e95ed499_fk_userauth_user_id` (`customer_id`),
  KEY `store_booking_service_id_2db1e59f_fk_store_service_id` (`service_id`),
  CONSTRAINT `store_booking_customer_id_e95ed499_fk_userauth_user_id` FOREIGN KEY (`customer_id`) REFERENCES `userauth_user` (`id`),
  CONSTRAINT `store_booking_service_id_2db1e59f_fk_store_service_id` FOREIGN KEY (`service_id`) REFERENCES `store_service` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=12 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `store_booking`
--

LOCK TABLES `store_booking` WRITE;
/*!40000 ALTER TABLE `store_booking` DISABLE KEYS */;
/*!40000 ALTER TABLE `store_booking` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `store_category`
--

DROP TABLE IF EXISTS `store_category`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `store_category` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `title` varchar(255) NOT NULL,
  `image` varchar(100) DEFAULT NULL,
  `slug` varchar(50) NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `slug` (`slug`)
) ENGINE=InnoDB AUTO_INCREMENT=3 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `store_category`
--

LOCK TABLES `store_category` WRITE;
/*!40000 ALTER TABLE `store_category` DISABLE KEYS */;
INSERT INTO `store_category` VALUES (1,'hair cut','','hair-cut'),(2,'Bridal Makeup','category/f01de5c0bcd25ecb43ef3c660c6bda7c.0000000.jpg','bridal-makeup');
/*!40000 ALTER TABLE `store_category` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `store_notification`
--

DROP TABLE IF EXISTS `store_notification`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `store_notification` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `nid` varchar(20) NOT NULL,
  `type` varchar(20) NOT NULL,
  `message` longtext NOT NULL,
  `seen` tinyint(1) NOT NULL,
  `date` datetime(6) NOT NULL,
  `booking_id` bigint DEFAULT NULL,
  `user_id` bigint NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `nid` (`nid`),
  KEY `store_notification_booking_id_42257a0e_fk_store_booking_id` (`booking_id`),
  KEY `store_notification_user_id_19e577b8_fk_userauth_user_id` (`user_id`),
  CONSTRAINT `store_notification_booking_id_42257a0e_fk_store_booking_id` FOREIGN KEY (`booking_id`) REFERENCES `store_booking` (`id`),
  CONSTRAINT `store_notification_user_id_19e577b8_fk_userauth_user_id` FOREIGN KEY (`user_id`) REFERENCES `userauth_user` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `store_notification`
--

LOCK TABLES `store_notification` WRITE;
/*!40000 ALTER TABLE `store_notification` DISABLE KEYS */;
/*!40000 ALTER TABLE `store_notification` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `store_service`
--

DROP TABLE IF EXISTS `store_service`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `store_service` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `sid` varchar(20) NOT NULL,
  `title` varchar(255) NOT NULL,
  `description` longtext,
  `slug` varchar(50) NOT NULL,
  `price` decimal(8,2) NOT NULL,
  `discount_price` decimal(8,2) DEFAULT NULL,
  `service_type` varchar(10) NOT NULL,
  `thumbnail` varchar(100) DEFAULT NULL,
  `status` varchar(20) NOT NULL,
  `featured` tinyint(1) NOT NULL,
  `date` datetime(6) NOT NULL,
  `updated` datetime(6) NOT NULL,
  `category_id` bigint DEFAULT NULL,
  `vendor_id` bigint NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `sid` (`sid`),
  UNIQUE KEY `slug` (`slug`),
  KEY `store_service_category_id_7ea1b32f_fk_store_category_id` (`category_id`),
  KEY `store_service_vendor_id_43b32b3d_fk_vendor_vendor_id` (`vendor_id`),
  CONSTRAINT `store_service_category_id_7ea1b32f_fk_store_category_id` FOREIGN KEY (`category_id`) REFERENCES `store_category` (`id`),
  CONSTRAINT `store_service_vendor_id_43b32b3d_fk_vendor_vendor_id` FOREIGN KEY (`vendor_id`) REFERENCES `vendor_vendor` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=5 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `store_service`
--

LOCK TABLES `store_service` WRITE;
/*!40000 ALTER TABLE `store_service` DISABLE KEYS */;
INSERT INTO `store_service` VALUES (1,'6906949140','hair cut','<p>Best haircut in town</p>','hair-cut',799.00,NULL,'Both','service/thumbnail/client-doing-hair-cut-barber-shop-salon_1303-20861.avif','Published',0,'2026-08-10 15:11:16.991750','2026-08-21 15:28:44.152332',1,2),(2,'1203460788','Bridal Makeup','<p>Best Bridal Makeup Services</p>','bridal-makeup',7999.00,7899.00,'Both','service/thumbnail/f01de5c0bcd25ecb43ef3c660c6bda7c.0000000.jpg','Published',1,'2026-08-21 14:51:46.455546','2026-08-21 15:51:01.627633',2,3);
/*!40000 ALTER TABLE `store_service` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `store_service_tags`
--

DROP TABLE IF EXISTS `store_service_tags`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `store_service_tags` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `service_id` bigint NOT NULL,
  `tag_id` bigint NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `store_service_tags_service_id_tag_id_59db6c60_uniq` (`service_id`,`tag_id`),
  KEY `store_service_tags_tag_id_a4e38204_fk_store_tag_id` (`tag_id`),
  CONSTRAINT `store_service_tags_service_id_0519a866_fk_store_service_id` FOREIGN KEY (`service_id`) REFERENCES `store_service` (`id`),
  CONSTRAINT `store_service_tags_tag_id_a4e38204_fk_store_tag_id` FOREIGN KEY (`tag_id`) REFERENCES `store_tag` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `store_service_tags`
--

LOCK TABLES `store_service_tags` WRITE;
/*!40000 ALTER TABLE `store_service_tags` DISABLE KEYS */;
/*!40000 ALTER TABLE `store_service_tags` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `store_serviceavailability`
--

DROP TABLE IF EXISTS `store_serviceavailability`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `store_serviceavailability` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `day` varchar(15) NOT NULL,
  `start_time` time(6) NOT NULL,
  `end_time` time(6) NOT NULL,
  `is_active` tinyint(1) NOT NULL,
  `service_id` bigint NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `store_serviceavailabilit_service_id_day_start_tim_63079b14_uniq` (`service_id`,`day`,`start_time`),
  CONSTRAINT `store_serviceavailab_service_id_5d9e6de1_fk_store_ser` FOREIGN KEY (`service_id`) REFERENCES `store_service` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `store_serviceavailability`
--

LOCK TABLES `store_serviceavailability` WRITE;
/*!40000 ALTER TABLE `store_serviceavailability` DISABLE KEYS */;
/*!40000 ALTER TABLE `store_serviceavailability` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `store_servicegallery`
--

DROP TABLE IF EXISTS `store_servicegallery`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `store_servicegallery` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `gid` varchar(20) NOT NULL,
  `image` varchar(100) NOT NULL,
  `caption` varchar(200) DEFAULT NULL,
  `date` datetime(6) NOT NULL,
  `service_id` bigint NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `gid` (`gid`),
  KEY `store_servicegallery_service_id_8815d8d8_fk_store_service_id` (`service_id`),
  CONSTRAINT `store_servicegallery_service_id_8815d8d8_fk_store_service_id` FOREIGN KEY (`service_id`) REFERENCES `store_service` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `store_servicegallery`
--

LOCK TABLES `store_servicegallery` WRITE;
/*!40000 ALTER TABLE `store_servicegallery` DISABLE KEYS */;
INSERT INTO `store_servicegallery` VALUES (1,'6244637975','service/gallery/f01de5c0bcd25ecb43ef3c660c6bda7c.0000000.jpg','bridal makeup','2026-08-21 14:51:46.503898',2);
/*!40000 ALTER TABLE `store_servicegallery` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `store_servicereview`
--

DROP TABLE IF EXISTS `store_servicereview`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `store_servicereview` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `rid` varchar(20) NOT NULL,
  `rating` int DEFAULT NULL,
  `review` longtext,
  `is_verified` tinyint(1) NOT NULL,
  `active` tinyint(1) NOT NULL,
  `date` datetime(6) NOT NULL,
  `booking_id` bigint DEFAULT NULL,
  `service_id` bigint NOT NULL,
  `user_id` bigint DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `rid` (`rid`),
  UNIQUE KEY `booking_id` (`booking_id`),
  KEY `store_servicereview_service_id_88574209_fk_store_service_id` (`service_id`),
  KEY `store_servicereview_user_id_84092f81_fk_userauth_user_id` (`user_id`),
  CONSTRAINT `store_servicereview_booking_id_e5caea8a_fk_store_booking_id` FOREIGN KEY (`booking_id`) REFERENCES `store_booking` (`id`),
  CONSTRAINT `store_servicereview_service_id_88574209_fk_store_service_id` FOREIGN KEY (`service_id`) REFERENCES `store_service` (`id`),
  CONSTRAINT `store_servicereview_user_id_84092f81_fk_userauth_user_id` FOREIGN KEY (`user_id`) REFERENCES `userauth_user` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=6 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `store_servicereview`
--

LOCK TABLES `store_servicereview` WRITE;
/*!40000 ALTER TABLE `store_servicereview` DISABLE KEYS */;
INSERT INTO `store_servicereview` VALUES (1,'3276802194',5,'',0,1,'2026-08-21 15:52:27.826116',NULL,2,2),(2,'3534217878',1,'good',1,1,'2026-08-25 15:52:13.583628',1,2,9),(3,'5812945507',4,'bad',1,1,'2026-08-25 15:55:54.538809',NULL,2,9),(4,'8726366912',4,'service was good',1,1,'2026-08-26 03:02:00.348089',2,2,10),(5,'3207070204',4,'good service',1,1,'2026-09-18 09:09:51.922125',8,2,13);
/*!40000 ALTER TABLE `store_servicereview` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `store_tag`
--

DROP TABLE IF EXISTS `store_tag`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `store_tag` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `title` varchar(100) NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `title` (`title`)
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `store_tag`
--

LOCK TABLES `store_tag` WRITE;
/*!40000 ALTER TABLE `store_tag` DISABLE KEYS */;
INSERT INTO `store_tag` VALUES (1,'bridalmakeup');
/*!40000 ALTER TABLE `store_tag` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `store_wishlist`
--

DROP TABLE IF EXISTS `store_wishlist`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `store_wishlist` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `date` datetime(6) NOT NULL,
  `service_id` bigint NOT NULL,
  `user_id` bigint NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `store_wishlist_user_id_service_id_ad6839e0_uniq` (`user_id`,`service_id`),
  KEY `store_wishlist_service_id_107840cd_fk_store_service_id` (`service_id`),
  CONSTRAINT `store_wishlist_service_id_107840cd_fk_store_service_id` FOREIGN KEY (`service_id`) REFERENCES `store_service` (`id`),
  CONSTRAINT `store_wishlist_user_id_afcc4e88_fk_userauth_user_id` FOREIGN KEY (`user_id`) REFERENCES `userauth_user` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `store_wishlist`
--

LOCK TABLES `store_wishlist` WRITE;
/*!40000 ALTER TABLE `store_wishlist` DISABLE KEYS */;
/*!40000 ALTER TABLE `store_wishlist` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `userauth_profile`
--

DROP TABLE IF EXISTS `userauth_profile`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `userauth_profile` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `full_name` varchar(255) DEFAULT NULL,
  `mobile` varchar(255) DEFAULT NULL,
  `user_type` varchar(255) DEFAULT NULL,
  `user_id` bigint NOT NULL,
  `address` varchar(255) DEFAULT NULL,
  `image` varchar(100) DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `user_id` (`user_id`),
  CONSTRAINT `userauth_profile_user_id_7b8dd0b9_fk_userauth_user_id` FOREIGN KEY (`user_id`) REFERENCES `userauth_user` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=18 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `userauth_profile`
--

LOCK TABLES `userauth_profile` WRITE;
/*!40000 ALTER TABLE `userauth_profile` DISABLE KEYS */;
/*!40000 ALTER TABLE `userauth_profile` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `userauth_user`
--

DROP TABLE IF EXISTS `userauth_user`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `userauth_user` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `password` varchar(128) NOT NULL,
  `last_login` datetime(6) DEFAULT NULL,
  `is_superuser` tinyint(1) NOT NULL,
  `first_name` varchar(150) NOT NULL,
  `last_name` varchar(150) NOT NULL,
  `is_staff` tinyint(1) NOT NULL,
  `is_active` tinyint(1) NOT NULL,
  `date_joined` datetime(6) NOT NULL,
  `username` varchar(255) DEFAULT NULL,
  `email` varchar(254) NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `email` (`email`)
) ENGINE=InnoDB AUTO_INCREMENT=23 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `userauth_user`
--

LOCK TABLES `userauth_user` WRITE;
/*!40000 ALTER TABLE `userauth_user` DISABLE KEYS */;
/*!40000 ALTER TABLE `userauth_user` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `userauth_user_groups`
--

DROP TABLE IF EXISTS `userauth_user_groups`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `userauth_user_groups` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `user_id` bigint NOT NULL,
  `group_id` int NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `userauth_user_groups_user_id_group_id_46e5f227_uniq` (`user_id`,`group_id`),
  KEY `userauth_user_groups_group_id_248add28_fk_auth_group_id` (`group_id`),
  CONSTRAINT `userauth_user_groups_group_id_248add28_fk_auth_group_id` FOREIGN KEY (`group_id`) REFERENCES `auth_group` (`id`),
  CONSTRAINT `userauth_user_groups_user_id_4e653733_fk_userauth_user_id` FOREIGN KEY (`user_id`) REFERENCES `userauth_user` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `userauth_user_groups`
--

LOCK TABLES `userauth_user_groups` WRITE;
/*!40000 ALTER TABLE `userauth_user_groups` DISABLE KEYS */;
/*!40000 ALTER TABLE `userauth_user_groups` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `userauth_user_user_permissions`
--

DROP TABLE IF EXISTS `userauth_user_user_permissions`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `userauth_user_user_permissions` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `user_id` bigint NOT NULL,
  `permission_id` int NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `userauth_user_user_permi_user_id_permission_id_ce5f9d7d_uniq` (`user_id`,`permission_id`),
  KEY `userauth_user_user_p_permission_id_f1415beb_fk_auth_perm` (`permission_id`),
  CONSTRAINT `userauth_user_user_p_permission_id_f1415beb_fk_auth_perm` FOREIGN KEY (`permission_id`) REFERENCES `auth_permission` (`id`),
  CONSTRAINT `userauth_user_user_p_user_id_e644b2fd_fk_userauth_` FOREIGN KEY (`user_id`) REFERENCES `userauth_user` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `userauth_user_user_permissions`
--

LOCK TABLES `userauth_user_user_permissions` WRITE;
/*!40000 ALTER TABLE `userauth_user_user_permissions` DISABLE KEYS */;
/*!40000 ALTER TABLE `userauth_user_user_permissions` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `vendor_bankaccount`
--

DROP TABLE IF EXISTS `vendor_bankaccount`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `vendor_bankaccount` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `account_type` varchar(50) DEFAULT NULL,
  `bank_name` varchar(500) NOT NULL,
  `account_number` varchar(100) NOT NULL,
  `account_name` varchar(100) NOT NULL,
  `khalti_id` varchar(100) DEFAULT NULL,
  `vendor_id` bigint DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `vendor_id` (`vendor_id`),
  CONSTRAINT `vendor_bankaccount_vendor_id_09249edd_fk_vendor_vendor_id` FOREIGN KEY (`vendor_id`) REFERENCES `vendor_vendor` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `vendor_bankaccount`
--

LOCK TABLES `vendor_bankaccount` WRITE;
/*!40000 ALTER TABLE `vendor_bankaccount` DISABLE KEYS */;
/*!40000 ALTER TABLE `vendor_bankaccount` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `vendor_notifications`
--

DROP TABLE IF EXISTS `vendor_notifications`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `vendor_notifications` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `type` varchar(100) NOT NULL,
  `seen` tinyint(1) NOT NULL,
  `date` date NOT NULL,
  `booking_id` bigint DEFAULT NULL,
  `user_id` bigint DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `vendor_notifications_booking_id_38afe600_fk_store_booking_id` (`booking_id`),
  KEY `vendor_notifications_user_id_5ba77fdc_fk_userauth_user_id` (`user_id`),
  CONSTRAINT `vendor_notifications_booking_id_38afe600_fk_store_booking_id` FOREIGN KEY (`booking_id`) REFERENCES `store_booking` (`id`),
  CONSTRAINT `vendor_notifications_user_id_5ba77fdc_fk_userauth_user_id` FOREIGN KEY (`user_id`) REFERENCES `userauth_user` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `vendor_notifications`
--

LOCK TABLES `vendor_notifications` WRITE;
/*!40000 ALTER TABLE `vendor_notifications` DISABLE KEYS */;
INSERT INTO `vendor_notifications` VALUES (1,'Beautician Assigned',0,'2026-09-11',1,10);
/*!40000 ALTER TABLE `vendor_notifications` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `vendor_payout`
--

DROP TABLE IF EXISTS `vendor_payout`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `vendor_payout` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `date` datetime(6) NOT NULL,
  `item_id` bigint DEFAULT NULL,
  `vendor_id` bigint DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `vendor_payout_item_id_43a28a21_fk_store_booking_id` (`item_id`),
  KEY `vendor_payout_vendor_id_9b447cb5_fk_vendor_vendor_id` (`vendor_id`),
  CONSTRAINT `vendor_payout_item_id_43a28a21_fk_store_booking_id` FOREIGN KEY (`item_id`) REFERENCES `store_booking` (`id`),
  CONSTRAINT `vendor_payout_vendor_id_9b447cb5_fk_vendor_vendor_id` FOREIGN KEY (`vendor_id`) REFERENCES `vendor_vendor` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `vendor_payout`
--

LOCK TABLES `vendor_payout` WRITE;
/*!40000 ALTER TABLE `vendor_payout` DISABLE KEYS */;
INSERT INTO `vendor_payout` VALUES (1,'2026-08-26 16:13:23.195792',2,3);
/*!40000 ALTER TABLE `vendor_payout` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `vendor_vendor`
--

DROP TABLE IF EXISTS `vendor_vendor`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `vendor_vendor` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `image` varchar(100) NOT NULL,
  `store_name` varchar(100) DEFAULT NULL,
  `description` varchar(200) DEFAULT NULL,
  `email` varchar(100) DEFAULT NULL,
  `country` varchar(100) DEFAULT NULL,
  `city` varchar(100) DEFAULT NULL,
  `document` varchar(100) NOT NULL,
  `vendor_id` varchar(20) DEFAULT NULL,
  `date` date NOT NULL,
  `slug` varchar(50) DEFAULT NULL,
  `user_id` bigint DEFAULT NULL,
  `is_verified` tinyint(1) NOT NULL,
  `verification_status` varchar(20) NOT NULL,
  `verified_at` datetime(6) DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `vendor_id` (`vendor_id`),
  UNIQUE KEY `user_id` (`user_id`),
  KEY `vendor_vendor_slug_e7b8f5a5` (`slug`),
  CONSTRAINT `vendor_vendor_user_id_424f99f3_fk_userauth_user_id` FOREIGN KEY (`user_id`) REFERENCES `userauth_user` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=11 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `vendor_vendor`
--

LOCK TABLES `vendor_vendor` WRITE;
/*!40000 ALTER TABLE `vendor_vendor` DISABLE KEYS */;
/*!40000 ALTER TABLE `vendor_vendor` ENABLE KEYS */;
UNLOCK TABLES;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2026-09-19 23:01:49
